<h1>New resident</h1>

<form action="/resident" method="post">

  <label for="resident_lastname">Lastname:</label><br /> 
  <input id="resident_lastname" name="resident[lastname]" type="text" 
      value="<%= @resident.lastname %>" />
  <br />

  <label for="resident_firstname">Firstname:</label><br /> 
  <input id="resident_firstname" name="resident[firstname]" type="text" 
      value="<%= @resident.firstname %>" />
  <br />

  <label for="resident_insurance">Insurance:</label><br /> 
  <input id="resident_insurance" name="resident[insurance]" type="text" 
      value="<%= @resident.insurance %>" />
  <br />


  <label for="resident_admit_date">Admit Date:</label><br /> 
  <input id="resident_admit_date" name="resident[admit_date]" type="text" 
      value="<%= @resident.admit_date %>" />
  <br />


  <input type="submit" value="Add resident" />
</form>
